<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <span class="input-group">
                <input type="text" class="form-control px-2 " id="typehead-modal" onKeyUp="showSearchResultsMobileView(this.value);" placeholder="Search Strategy..." autocomplete="off">
                <a class="input-group-text bg-secondary text-white" id="Search-Grid"><i class="fe fe-search header-link-icon fs-18"></i></a>
              </span>
              <div id="headersearch-modal" class="header-search">
                <div class="mt-3">
                    <ul class="ps-2" id="search-results-ul-modal">
                        <!-- Contents will be loaded dynamically -->
                    </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>