<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <span class="input-group">
                <input type="search" class="form-control px-2 " placeholder="Search..." aria-label="Username">
                <a href="javascript:void(0);" class="input-group-text bg-primary text-white" id="Search-Grid"><i class="fe fe-search header-link-icon fs-18"></i></a>
              </span>
              <div class="mt-3">
                <div class="">
                    <p class="fw-semibold text-muted mb-2 fs-13">Recent Searches</p>
                    <div class="ps-2">
                        <a  href="javascript:void(0)" class="search-tags"><i class="fe fe-search me-2"></i>People<span></span></a>
                        <a  href="javascript:void(0)" class="search-tags"><i class="fe fe-search me-2"></i>Pages<span></span></a>
                        <a  href="javascript:void(0)" class="search-tags"><i class="fe fe-search me-2"></i>Articles<span></span></a>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="fw-semibold text-muted mb-2 fs-13">Apps and pages</p>
                    <ul class="ps-2">
                        <li class="p-1 d-flex align-items-center text-muted mb-2 search-app">
                            <a href="full-calendar.html"><span><i class='bx bx-calendar me-2 fs-14 bg-primary-transparent p-2 rounded-circle '></i>Calendar</span></a>
                        </li>
                        <li class="p-1 d-flex align-items-center text-muted mb-2 search-app">
                            <a href="mail.html"><span><i class='bx bx-envelope me-2 fs-14 bg-primary-transparent p-2 rounded-circle'></i>Mail</span></a>
                        </li>
                        <li class="p-1 d-flex align-items-center text-muted mb-2 search-app">
                            <a href="buttons.html"><span><i class='bx bx-dice-1 me-2 fs-14 bg-primary-transparent p-2 rounded-circle '></i>Buttons</span></a>
                        </li>
                    </ul>
                </div>
                <div class="mt-3">
                  <p class="fw-semibold text-muted mb-2 fs-13">Links</p>
                  <ul class="ps-2">
                      <li class="p-1 align-items-center  mb-1 search-app">
                              <a href="javascript:void(0)" class="text-primary"><u>http://spruko/html/spruko.com</u></a>
                      </li>
                      <li class="p-1 align-items-center mb-1 search-app">
                              <a href="javascript:void(0)"  class="text-primary"><u>http://spruko/demo/spruko.com</u></a>
                      </li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="modal-footer d-block">
            <div class="text-center">
                <a href="javascript:void(0)" class="text-primary text-decoration-underline fs-15">View all results</a>
            </div>
          </div>
        </div>
      </div>
</div>