<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between" id="index-header">
    <!-- <div class="d-md-flex">
        <h4 class="fw-medium mb-0">@SPK@indextitle</h4>
        <div class="form-check form-check-md form-switch">
            <input class="form-check-input form-checked-info" type="checkbox" role="switch" id="switch-md">
            <label class="form-check-label" for="switch-md">Grid View</label>
        </div>
    </div> -->
    <h4 class="fw-medium mb-0">@SPK@title</h4>
    <div class="form-check form-check-md form-switch">
        <input class="form-check-input form-checked-info" type="checkbox" role="switch" id="grid-switch" onchange="switchView()" disabled>
        <label class="form-check-label" for="grid-switch">Grid View</label>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">@SPK@subtitle</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@SPK@subtitle2</li>
    </ol>
</div>
<!-- Page Header Close -->

