<!-- Page Header -->
<div class="d-sm-flex d-block align-items-center justify-content-between page-header-breadcrumb">
    <h4 class="fw-medium mb-0">@SPK@title</h4>
    <div class="ms-sm-1 ms-0">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="javascript:void(0);">@SPK@subtitle</a></li>
                <li class="breadcrumb-item active" aria-current="page">@SPK@title</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header Close -->

