<!-- Start::app-sidebar -->
<aside class="app-sidebar" id="sidebar">

    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="index.html" class="header-logo">
            <img src="../assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
            <img src="../assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
            <img src="../assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
            <img src="../assets/images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
        </a>
    </div>
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg>
            </div>
            <ul class="main-menu">
                <!-- Start::slide__category -->
                <li class="slide__category"><span class="category-name">Main</span></li>
                <!-- End::slide__category -->

                <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bx-desktop'></i>
                        </span>
                        <span class="side-menu__label">Dashboards
                            <span class="badge bg-warning-transparent ms-2 d-inline-block">2</span>
                        </span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide side-menu__label1">
                            <a href="index.html">Dashboards</a>
                        </li>
                        <li class="slide">
                            <a href="index.html" class="side-menu__item">Summary</a>
                        </li>
                        <li class="slide">
                            <a href="history.html" class="side-menu__item">History</a>
                        </li>
                    </ul>
                </li>

                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="products.html" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bx-cube'></i>
                        </span>
                        <span class="side-menu__label">Subscribtion</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <!-- <li class="slide">
                    <a href="products.html" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bxs-terminal'></i>
                        </span>
                        <span class="side-menu__label">Simulation</span>
                    </a>
                </li> -->
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="profile.html" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bx-user'></i>
                        </span>
                        <span class="side-menu__label">Profile</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="pricing.html" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bx-money-withdraw'></i>
                        </span>
                        <span class="side-menu__label">Pricing</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="history.html" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bx-history'></i>
                        </span>
                        <span class="side-menu__label">History</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="help.html" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bx-help-circle'></i>
                        </span>
                        <span class="side-menu__label">Help</span>
                    </a>
                </li>
                <!-- End::slide -->

                <!-- Start::slide -->
                <li class="slide">
                    <a href="javascript:signout();" class="side-menu__item">
                        <span class=" side-menu__icon">
                            <i class='bx bx-log-out-circle'></i>
                        </span>
                        <span class="side-menu__label">Logout</span>
                    </a>
                </li>
                <!-- End::slide -->
            </ul>
            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg></div>
        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>
<!-- End::app-sidebar -->