<!-- Sidebar-right -->
<div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="sidebar-right">
    <div class="offcanvas-body position-relative">
        <div>
            <ul class="nav nav-tabs tab-style-1 d-sm-flex d-block" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#orders-1" aria-current="page" ><i class="bx bx-calendar me-1 fs-16 align-middle"></i>Calendar</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#accepted-1"><i
                            class="bx bx-pulse me-1 fs-16 align-middle"></i>Important Dates</button>
                    </li>
            </ul>
            <div class="ms-auto my-auto">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"> <i
                        class="bx bx-x sidebar-btn-close"></i></button>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="orders-1" role="tabpanel">
                <div class="card-body p-0">
                    <input type="text" class="form-control" id="inlinecalendar" placeholder="Choose date">
                </div>
                <div class="d-flex align-items-center">
                    <a href="full-calendar.html"><button class="btn btn-primary-light btn-sm btn-wave">Full Calendar View</button></a>
                  </div>
    
            </div>
            <div class="tab-pane" id="accepted-1" role="tabpanel">
                <!-- TODO: imporant dates timeline can be added here-->

                <div class="d-flex align-items-center mb-4 justify-content-between">
                    <h5 class="fw-semibold">Chainview Events</h5>
                    <button class="btn btn-primary-light btn-sm btn-wave">View All</button>
                  </div>

                  <div class="card custom-card">
                  <div class="card-body">
                    <div class="d-flex justify-conent-between">
                      <span class="fs-14 text-muted"><i class="text-primary  bx bxs-circle me-1"></i>10:00am - 10:00pm</span>
                      <div class="dropdown ms-auto">
                        <a href="javascript:void(0);" class="p-2 fs-16 text-muted" data-bs-toggle="dropdown">
                            <i class="fe fe-more-horizontal"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">Complete</a></li>
                            <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">Cancel</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                        </ul>
                    </div>
                    </div>
                    <h6 class="mb-1 mt-2">Monday, Oct 23,2023</h6>
                    <p class="text-muted mb-0">Product Launch</p>
                  </div>
                  </div>
                  <div class="card custom-card">
                  <div class="card-body">
                    <div class="d-flex justify-conent-between">
                      <span class="fs-14 text-muted"><i class="text-success  bx bxs-circle me-1"></i>09:00pm onwards</span>
                      <div class="dropdown ms-auto">
                        <a href="javascript:void(0);" class="p-2 fs-16 text-muted" data-bs-toggle="dropdown">
                            <i class="fe fe-more-horizontal"></i>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">Complete</a></li>
                          <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">Cancel</a></li>
                          <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                      </ul>
                    </div>
                    </div>
                    <h6 class="mb-1 mt-2">Monday, Oct 23,2023</h6>
                    <p class="text-muted mb-0">Onboarding and account setup</p>
                  </div>
                  </div>
                  <div class="card custom-card">
                  <div class="card-body">
                    <div class="d-flex justify-conent-between">
                      <span class="fs-14 text-muted"><i class="text-danger  bx bxs-circle me-1"></i>09:00am - 09:00pm</span>
                      <div class="dropdown ms-auto">
                        <a href="javascript:void(0);" class="p-2 fs-16 text-muted" data-bs-toggle="dropdown">
                            <i class="fe fe-more-horizontal"></i>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">Complete</a></li>
                          <li class="border-bottom"><a class="dropdown-item" href="javascript:void(0);">Cancel</a></li>
                          <li><a class="dropdown-item" href="javascript:void(0);">Delete</a></li>
                      </ul>
                    </div>
                    </div>
                    <h6 class="mb-1 mt-2">Sunday, Oct 29,2023</h6>
                    <p class="text-muted mb-0">Maintenance window</p>
                  </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <a href="full-calendar.html"><button class="btn btn-primary-light btn-sm btn-wave">Full Calendar View</button></a>
                  </div>

            </div>
        </div>
    </div>
</div>
<!--/Sidebar-right-->

<!-- Date & Time Picker JS -->
<script src="../assets/libs/flatpickr/flatpickr.min.js"></script>
<script src="../assets/js/date&time_pickers.js"></script>