<!-- Sidebar-right -->
<div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="sidebar-right">
    <div class="offcanvas-body position-relative">
        <div>
            <ul class="nav nav-tabs tab-style-1 d-sm-flex d-block" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#orders-1" aria-current="page" ><i class="bx bx-calendar me-1 fs-16 align-middle"></i>Calendar</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#accepted-1"><i
                            class="bx bx-pulse me-1 fs-16 align-middle"></i>Important Dates</button>
                    </li>
            </ul>
            <div class="ms-auto my-auto">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"> <i
                        class="bx bx-x sidebar-btn-close"></i></button>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="orders-1" role="tabpanel">
                <div class="card-body p-0">
                    <input type="text" class="form-control" id="inlinecalendar" placeholder="Choose date">
                </div>
            </div>
            <div class="tab-pane" id="accepted-1" role="tabpanel">
                <!-- TODO: imporant dates timeline can be added here-->
            </div>
        </div>
    </div>
</div>
<!--/Sidebar-right-->

<!-- Date & Time Picker JS -->
<script src="../assets/libs/flatpickr/flatpickr.min.js"></script>
<script src="../assets/js/date&time_pickers.js"></script>